* {
  margin: 0;
  padding: 0;
}

.home-hero-gradient {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1552px;
  height: 850px;
  background: linear-gradient(
    90deg,
    #fcfcfc,
    #eafaf1 20%,
    #eafaf1 50%,
    #eafaf1 80%,
    #fcfcfc
  );
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -2;
}

.home-hero-gradient-accent {
  position: absolute;
  bottom: -300px;
  left: 50%;
  width: 2000px;
  height: 700px;
  background-image: radial-gradient(
    49% 48%,
    rgba(0, 173, 106, 0.13) 0,
    rgba(0, 173, 106, 0) 77%
  );
  -webkit-transform: translateX(-50%) rotate(-10deg);
  transform: translateX(-50%) rotate(-10deg);
  z-index: -1;
}

.container {
}

.home-hero {
  padding-top: 2rem;
  padding-bottom: 24rem;
}

.title {
  position: relative;
  z-index: 2;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.title .marker-circle {
  position: absolute;
  transform: translate(50%, -80%);
  transition: all 0.3s ease;
  width: 400px;
  z-index: -1;
  /* transform: translateX(50%); */
}

@keyframes circle {
  from {
    transform: translateX(50%) translateY(-80);
  }
  to {
    transform: translateX(50%) translateY(-80px);
  }
}

.marker-circle {
  animation-name: circle;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.title .sign-up {
  /* margin: 2rem; */
}

.title-sub {
  width: 60%;
  line-height: 1.5;
  position: relative;
  margin-bottom: 2.5rem;
}

.title-sub .marker-arrow {
  position: absolute;
  transform: translate(300%, -50%);
  /* rotate: (300deg); */
}

.home-hero .sign-up p {
  margin: 2rem 0;
  font-size: 0.8rem;
}

.home-hero .sign-up p a {
  text-decoration: underline;
  color: var(--dark-color);
}

.home-hero-2 {
  padding: 8rem 0;
  border: 0 solid #dadbdc;
  border-width: 1px;
}

.home-hero-2 .text-center .h2 {
  margin-bottom: 1rem;
}

.home-hero-2 .container .home-quotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
}

.home-hero-2 .container .home-quotes .quotes {
  max-width: 480px;
  padding-top: 4rem;
}

.home-hero-3 .smarter-business-decisions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
  max-width: 1200px;
  /* gap: 18rem; */
  text-align: left;
}

.smarter-business-decisions .decisions-content p {
  margin-top: 1rem;
  line-height: 1.7;
}

.home-hero-3 .smarter-business-decisions .decisions-content {
  width: 50%;
}

.home-hero-3 .testimony {
  width: 50%;
  padding-left: 6rem;
}

.home-hero-3 .testimony .testimony-content {
  text-align: center;
  padding: 3rem 2rem;
  width: 83%;
  margin: 0 auto;
  border: 0 solid #d6dae5;
  border-width: 1px;
}

.testimony-content img {
  margin-bottom: 1rem;
}

.testimony-content .carl-testimony {
  font-size: 1.5rem;
  color: var(--emerald);
  margin-bottom: 1rem;
  line-height: 1.3;
}

.testimony-content .person-info {
  text-transform: uppercase;
  font-size: 0.75rem;
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.testimony-content p:last-child a {
  color: var(--emerald);
  text-decoration: underline;
  font-size: 0.875rem;
  font-weight: 700;
}

.hero-small-biz {
  background: url('/assets/hero-small-biz.jpg') no-repeat center center/cover;
  padding: 10rem 0;
}

.hero-small-biz .container > div {
  text-align: left;
  max-width: 480px;
}

.hero-small-biz .container > div h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  line-height: 1.15;
  color: var(--light-color);
}

.hero-small-biz .container > div p {
  color: var(--light-color);
  margin-bottom: 2rem;
  font-size: 1.125rem;
  line-height: 1.5;
}

.hero-small-biz .container > div a {
  color: var(--dark-green);
  background: var(--light-color);
}

.hero-small-biz .container > div a:hover {
  /* transform: ; */
  transition: all 0.1s ease-in-out;
  box-shadow: -5px 5px var(--gray);
}
