header {
  /* background: var(--mint-green); */
  padding: 1px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  max-width: 1200px;
  margin: 30px auto;
  padding: 18px;
}

.navbar .navbar-items a {
  text-decoration: none;
  margin: 0px 20px;
  font-weight: 700;
  color: var(--emerald);
}

.navbar .navbar-items a.active {
  color: black;
}

.navbar .navbar-items a:hover {
  cursor: pointer;
  color: var(--dark-color);
}

.navbar .navbar-items a:last-child {
  border: 1px solid var(--emerald);
  padding: 8px 15px;
}

.navbar .navbar-items .hover-bs:hover {
  box-shadow: -5px 5px var(--emerald);
  transition: all ease 0.1s;
  transform: translate(-50%, 5%);
  color: var(--emerald);
}
